name: Publish to GitHub Packages

on:
  push:
    tags:
      - 'v*'
  repository_dispatch:
    types: [publish]

jobs:
  publish:
    permissions:
      contents: write
      packages: write
    runs-on: ubuntu-latest
    if: github.repository_owner == 'johnsonlee'

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Publish to GitHub Packages
      run: |
        VERSION=${GITHUB_REF/refs\/tags\/v/}
        echo "Publishing version ${VERSION} ..."
        ./gradlew clean publishAllPublicationsToGitHubPackagesRepository -S --no-daemon \
            -Pversion=${VERSION}
      env:
        JAVA_OPTS: -Xmx4g -XX:MetaspaceSize=512m -Dfile.encoding=UTF-8
        JVM_OPTS: -Xmx4g -XX:MetaspaceSize=512m -Dfile.encoding=UTF-8
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        name: Release ${{ github.ref_name }}
        tag_name: ${{ github.ref_name }}
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}